.user__info{
        position: relative;
        padding: 20px 20px;
        max-width: 1500px;
        height: 85vh;
        margin: 0 auto;
         border-radius: 45px; 
        box-shadow: -1px 7px 48px -8px rgba(0,0,0,0.56);
        -webkit-box-shadow: -1px 7px 48px -8px rgba(0,0,0,0.56);
        -moz-box-shadow: -1px 7px 48px -8px rgba(0,0,0,0.56); 
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
}

.back__btn{
    position: absolute;
    top: 10px;
    left: 10px;
}